:root {
    --primary-color: #FFAFCC;
    --primary-color-light: #FFC8DD;
    --secondary-color: #A2D2FF;
    --secondary-color-light: #BDE0FE;
    --secondary-color-dark: #365573;
}

.post-content a {
    box-shadow: none;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 0.25rem;
}

.entry-content a {
    box-shadow: none;
    border-bottom: none;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 0.15rem;
}

.footer a {
    box-shadow: none;
    border-bottom: none;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 0.15rem;
}

.post-tags a:hover, .paginav a:hover {
    background-color: var(--secondary-color-light);
}

.dark .post-tags a:hover, .dark .paginav a:hover {
    background-color: var(--secondary-color-dark);
}
